{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Placements</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href={% url 'index' %}><h2>Placement100</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href={% url 'about' %}>Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'about' %} >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'course' %}>Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'contact' %}>Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h4>Get your first dream job</h4>
                  <p> Placement preparations with live Masterclass and live doubts solving sessions.   </p>
                  <a href={% url 'course' %} class="filled-button">our courses</a>
                </div>
            </div>
          </div>

          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h4>Start your journey of success</h4>
                  <p>We provide Personalised Coding Programs to make coding easier for you.</p>
                  <a href={% url 'course' %} class="filled-button">our courses</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h4>Live MasterClass <br>&amp; 1-1 Mentoring</h4>
                  <p>Industry vetted structured Curriculum and live doubt solving sessions from IITians </p>
                  <a href={% url 'course' %} class="filled-button">our courses</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>

    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Send us a Message</h4>
            <span>Get personalised Roadmap and Course from our mentors</span>
          </div>
          <div class="col-md-4">
            <a href={% url 'contact' %} class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Placement <em>Materclass</em></h2>
              <span>How Placement100 Mentorship driven Personalised Learning works ?</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/lecture.jpg' %}" alt="">
              <div class="down-content">
                <h4>Personalised Lectures </h4>
                <p>Attend Live Masterclass daily and weekly plans based on skills  </p>
                <p>Topic wise Live Coding & Aptitude sessions with top rated coders </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
                <br /><br /> <br />
              <img src="{% static 'assets/images/web-development.jpg' %}" alt="">
              <div class="down-content">
                <br /><br />
                <h4> Live Projects</h4>
                <br />
                <p>Real life & Industry Vetted projects build on demand Tech Stack</p>
                <p>Unique program where you can learn Full stack & experience being a developer </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
              <br /><br />
              <img src="{% static 'assets/images/customer.jpg' %}" alt="">
              <div class="down-content">
                <br /><br /><br />
                <h4>Placement Support </h4>
                <p>Exclusive Placement support team with Job assistance </p>
                <p>90% of our students get placed in reputed companies </p>
                <br />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <h2>Our solutions for your <em>Placement hurdles</em></h2>
              <p>Our experts are well known for their teaching methods, will help you to understand Aptitude, Coding, Programming concepts in the easiest and quickest possible way from basic to advanced level.
              <br><br>Company-Specific LIVE Training Modules according to the latest pattern.
              <br><br>Get prepared for Technical and Personal interviews with the best in industry experts by scheduling Mock interviews at your convenience.</p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">100</div>
                  <div class="count-title">Hrs live class</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">450</div>
                  <div class="count-title">Coding Questions</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1000</div>
                  <div class="count-title">Apptitude Questions</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">50</div>
                  <div class="count-title">Live Projects</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Pro courses from <em>Placement100</em></h2>
              <span>Battle your way through the crowd with the best placement preparation course online.</span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'assets/images/placements.jpg' %}" alt="">
              <div class="down-content">
                <br />
                <h4>Complete Placement Preparation </h4>
                <p>Prepare for your upcoming Placements, before it's too late!</p>
                <br />
                <a href={% url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'assets/images/language.jpg' %}" alt="">
              <div class="down-content">
                <h4>Language Course</h4>
                <p>Battle your way through the crowd with the best foundation course online.</p>
                <br />
                <a href={% url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'assets/images/data-structure.jpg' %}" alt="">
              <div class="down-content">
                <br />
                <h4>Data Structure & Algorithms</h4>
                <p>Simpilifying DSA to crack most of coding interviews</p>
                <br /><br />
                <a href={% url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'assets/images/web-course.jpg' %}" alt="">
              <div class="down-content">
                <br />
                <h4>Web Development</h4>
                <p>Learn Full Stack Web Development & Build Real World Projects using in demand tech stack</p>
                <a href={% url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'assets/images/about-image.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>Placement100</em></h2>
                    <p>We believe that every individual is unique and that is why we emphasize personal attention in our courses. we acknowledge and respect the ambition of our students.
                    <br />  <br />
                    Years of experience and our strong credentials culminate into an excellent product for the students.
                    <br />  <br />
                    We've mentored students to build successful careers. We start by helping you to be clear of what you want to achieve.
                    <br />
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Important Highlights <em>Materclass</em></h2>
              <span>Battle your way through the crowd with the best placement preparation course online.</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
              <br /> <br /><br />
              <img src="{% static 'assets/images/mentors.jpg' %}" alt="">
              <div class="down-content">
                <br />
                <h4>Highly Qualified Mentors</h4>
                <p>Learn from best in industry, Mentors are IIT alumni, Amazon and Microsoft employees</p>
                <br />
                <br />
                <a href={% url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/certificate.jpg' %}" alt="">
              <div class="down-content">
                <h4>Certificate of Completion </h4>
                <p>Earn well recognised certificate after sussesful course and assignments completion </p>
                <br /><br />
                <a href={% url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/internship.jpg' %}" alt="">
              <div class="down-content">
                <h4>Internship at Placement100</h4>
                <p>Kick start your career with us by taking an internship. We provide a wide range of internships for those who have completed placement preparation course. </p>
                <a href={ % url 'course' %} class="filled-button">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Register For the Courses</h4>
            <span>New Batch starts every Monday</span>
          </div>
          <div class="col-md-4">
            <a href={% url 'course' %} class="border-button">Courses</a>
          </div>
        </div>
      </div>
    </div>


    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our students</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Onkar Shinde</h4>
                  <span>Tata Consultancy Service</span>
                  <p>"I enrolled in complete Placement Course to get help in placement preparations for tech giants and got placed in TCS. I got a mentor who was very knowledgeable & guided me throughout my placement journey."</p>
                </div>
                <img src="{% static 'assets/images/boy1.jpg' %}" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Mahesh Patil</h4>
                  <span>Accenture</span>
                  <p>"The apptitude Preparation was taken very good. Mock interviews helped me a lot in my interview."</p>
                </div>
                <img src="{% static 'assets/images/boy2.jpg' %}" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Vaibhav singh</h4>
                  <span>Infosys</span>
                  <p>"I would like to thank Placement100 team from bottom of my heart. The complete placement preparation course was so good that it throws out my fear for placements. I was able to crack interviews of 3 companies."</p>
                </div>
                <img src="{% static 'assets/images/boy3.jpg' %}" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Ananya Rajput</h4>
                  <span>Infosys</span>
                  <p>Placement have helped me improve my analytical skills. They have helped me in all the ways possible. The understanding of questions and logic has also increased. Now I can solve questions and understand the logic.</p>
                </div>
               <img src="{% static 'assets/images/girl1.jpg' %}" alt="">
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Rutuja Sinha</h4>
                  <span>Marketing Head</span>
                  <p>"Yes. It is extremely useful. Placement team is very helpful and skilled. It has one of the best Placement programs for IT companies. As an Engineering fresher, I found it really helpful."</p>
                </div>
                <img src="{% static 'assets/images/girl2.jpg' %}" alt="">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">

              <div class="partner-item">
                <img src="{% static 'assets/images/TCS_Logo.jpg' %}" title="1" alt="1">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/Accenture-logo.png' %}" title="2" alt="2">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/capgemini.jpg' %}" title="3" alt="3">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/Infosys-Logo.png' %}" title="4" alt="4">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/wipro.png' %}" title="5" alt="5">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-item">
            <h4>Placement100</h4>
            <p>One Stop destination for all your Placement Hurdels. <br /> Start yout sussess journey with us.</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

          <div class="col-md-6 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="{% url 'enquiryform' %}" method="POST">
              	{% csrf_token %}  
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2020 Placement100 Co. Ltd.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>
