{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Placement100</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- Header -->

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href={% url 'about' %}><h2>Placement100</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href={% url 'about' %}>Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'about' %} >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'course' %}>Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'contact' %}>Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our   Courses</h1>
            <span>Simplicity meets quality. </span>
            <span>  All courses are created by alumni of IITs, Amazon, Microsoft. </span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Complete Placement Prepration <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>Master Language  <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>Data Structure & Algorithms <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4'>Web Development <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="{% static 'assets/images/course-placement.jpg' %}" alt="">
                <h4>Complete Placement Preparation</h4>

                <h3> Course Overview</h3>

                <p>Coding Interviews, College Exams, Coding Competitions - you name it. This program will help you excel in everything you do.
                <br />  You just need to have dream to get placed in these companies and willingness to work hard.
                <br />  You can come here with no knowledge and graduate with being an expert.

                <br /><br />
                If you are targeting for big MNCs like TCS, Infosys, Wipro, Accenture etc. this program is the best fit for you.
                It helps you to master most in demand skills by these companies by laying more emphasis on the required modules like Aptitude, Soft Skills, Coding
                and many more under mentorship and guidance of experts from IT industry.

                <br /><br /> If you are confused about how,when or from where should you start the preparations then you should enroll in this course and our experts will help you everything required to get prepared for these companies.

                <h3>Course Highlights</h3>
                <p>
                  Personalised Live Classes
                  <br />Expert Mentorship
                  <br />100+ coding questions
                  <br />20+ Apptitude Tests
                  <br />Doubt Support
                  <br />Certificate of completion
                  <br />Assured internship at Placement100
                  <br />Resume preparation
                  <br />HR interview Preparation
                  <br />
                </p>
                </p>

                <h3>Syllabus</h3>
                <a href="{% static 'assets/images/c1.pdf' %}" class="filled-button" download="pdf">Download pdf</a>
              
                 <br><br><br>
                <h4> Course fee :  RS  2999 /-</h4>

                <div class="callback-form callback-services">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-heading">
                          <h2>Register for <em>Complete Placement Preparation </em></h2>
                          <span>We would like to be part of your Sussess Journey !!</span>
                        </div>
                      </div>



                     <div class="col-md-12">
                        <div class="contact-form">
                          <form id="contact" action="{% url 'placementform' %}" method="POST">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Contact Number" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="college" type="text" class="form-control" id="collage" placeholder="College Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12">
                                <fieldset>
                                  <button href={% url 'thankyou' %} type="submit" id="form-submit" class="border-button">Submit</button>
                                </fieldset>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                         


              </article>


              <article id='tabs-2'>
                <img src="{% static 'assets/images/course-language.jpg' %}" alt="">
                <h4>Master C++ Language</h4>

                <h3> Course Overview</h3>

                <p>C++ is an important language that is taught in colleges. Learn C++ language and master C++ coding by practicing problems from basics to solving probems asked in Coding Competitions.
                <br /> After the course you will be able to solve easy to medium level question in any online coding platform.
                <br />
                </p>

                <h3>Course Highlights</h3>
                <p>
                  Personalised Live Classes
                  <br />Expert Mentorship
                  <br />100+ coding questions
                  <br />10+ coding contest
                  <br />Doubt Support
                  <br />Certificate of completion
                  <br />
                </p>
                </p>
                <br /> <br />
                <h3>Syllabus</h3>
                <a href="{% static 'assets/images/c2.pdf' %}" class="filled-button" download="pdf">Download pdf</a>
            
             <br><br><br>
                <h4> Course fee :  RS  999 /-</h4>

                <div class="callback-form callback-services">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-heading">
                          <h2>Register for <em>Master Language </em></h2>
                          <span>We would like to be part of your Sussess Journey !!</span>
                        </div>
                      </div>

                  
                       <div class="col-md-12">
                        <div class="contact-form">
                          <form id="contact" action="{% url 'languageform' %}" method="POST">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Contact Number" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="college" type="text" class="form-control" id="collage" placeholder="College Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12">
                                <fieldset>
                                  <button href={% url 'thankyou' %} type="submit" id="form-submit" class="border-button">Submit</button>
                                </fieldset>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                    
              </article>

              <article id='tabs-3'>
                <img src="{% static 'assets/images/course3.jpg' %}" alt="">
                <h4>Data Structure & Algorithms</h4>
                <h3> Course Overview</h3>

                <p>
                  Coding Interviews, College Exams, Coding Competitions - you name it.This program will help you excel in everything you do.
                  <br /> If you are good with the basics of coding and want to master all the topics of Data structures and Algorithms then this course if for you.
                </p>

                <br />
                <p>
                  The course is designed to improve your problem-solving and coding skills by enhancing your understanding of Data Structures & Algorithms.
                  After this course you will be an expert in DS/Algo and will be easily able to clear and coding interview or excel in any coding competition.
                </p>

                <h3>Course Highlights</h3>
                <p>
                  Personalised Live Classes
                  <br />Expert Mentorship
                  <br />100+ coding questions
                  <br />10+ coding contest
                  <br />Doubt Support
                  <br />Certificate of completion
                  <br />
                </p>
                </p>

                <br><br> <br><br>
                <a href="{% static 'assets/images/c3.pdf' %}" class="filled-button" download="pdf">Download pdf</a>
          
                <br><br><br>
                <h4> Course fee :  RS  1999 /-</h4>

                <div class="callback-form callback-services">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-heading">
                          <h2>Register for <em>Data Structure & Algorithms </em></h2>
                          <span>We would like to be part of your Sussess Journey !!</span>
                        </div>
                      </div>


                       <div class="col-md-12">
                        <div class="contact-form">
                          <form id="contact" action="{% url 'algorithmform' %}" method="POST">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Contact Number" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="college" type="text" class="form-control" id="collage" placeholder="College Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12">
                                <fieldset>
                                  <button href={% url 'thankyou' %} type="submit" id="form-submit" class="border-button">Submit</button>
                                </fieldset>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


            </article>

              <article id='tabs-4'>
                <img src="{% static 'assets/images/course4.jpg' %}" alt="">
                <h4>Web Development </h4>

                 <h3> Course Overview</h3>
                 <p>
                   All the well known companies have their website and they use latest tech to build them.
                   Experience with web development and good problem skill is all you need to crack these companies.
                 </p>
                 <p>
                   Start learning web development from basics of HTML, CSS, Javascript.
                   Master technologies like Django and Django Rest Framework. Get in depth knowledge of Git version control.
                 </p>
                 <p>
                   We have designed a unique program where you can learn Full stack web development & experience being a developer.
                 </p>

                 <h3>Course Highlights</h3>
                 <p>
                   Personalised Live Classes
                   <br />Expert Mentorship
                   <br />Real Life Projects
                   <br />Complete Development Lifecycle
                   <br />Assured internship with Placement100
                   <br />Certified frontend developer
                   <br />
                 </p>
                <br><br> <br><br>
                <a href="{% static 'assets/images/c4.pdf' %}" class="filled-button" download="pdf">Download pdf</a>
                
                 <br><br><br>
                <h4> Course fee :  RS  1999 /-</h4>

                <div class="callback-form callback-services">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-heading">
                          <h2>Register for <em>Web Development </em></h2>
                          <span>We would like to be part of your Sussess Journey !!</span>
                        </div>
                      </div>


                        <div class="col-md-12">
                        <div class="contact-form">
                          <form id="contact" action="{% url 'developmentform' %}" method="POST">
                            <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Contact Number" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="college" type="text" class="form-control" id="collage" placeholder="College Name" required="">
                                </fieldset>
                              </div>
                              <div class="col-lg-12">
                                <fieldset>
                                  <button href={% url 'thankyou' %} type="submit" id="form-submit" class="border-button">Submit</button>
                                </fieldset>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </article>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
              <div class="partner-item">
                <img src="{% static 'assets/images/client-01.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
     <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-item">
            <h4>Placement100</h4>
            <p>One Stop destination for all your Placement Hurdels. <br /> Start yout sussess journey with us.</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

          <div class="col-md-6 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="{% url 'enquiryform' %}" method="POST">
                {% csrf_token %}  
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2020 Placement100 Co., Ltd.
            </p>
          </div>
        </div>
      </div>
    </div>


  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>

